{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="header_inner inner">
    <p class="header_title" name="title">管理ページ</p>
    </p>
</div>
{% endblock %}

{% block content %}
<div>
    <div class="alert alert-light form-control">
        <div class="container">
            <h2>配席アンケート集計結果一覧</h2>
            {% for model in title %}
            <div class="linkbox">
                <h3>{{ model.event.eventtitle }}</h3>
                <div>会場：{{ model.hallinfo.hallname }}</div>
                <div>日付：{{ model.venuedate|date:"Y年n月j日" }}</div>
                <a href="https://ico-graph.com/result/{{ model.venueid }}?time=matinee"></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="alert alert-light form-control">
        <div class="container">
            <h2>配席アンケートフォーム</h2>
            {% for model in title %}
            <div class="linkbox">
                <h3>{{ model.event.eventtitle }}</h3>
                <div>会場：{{ model.hallinfo.hallname }}</div>
                <div>日付：{{ model.venuedate|date:"Y年n月j日" }}</div>
                <a href="https://ico-graph.com/{{ model.venueid }}/"></a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="alert alert-light form-control">
        <div class="container">
            <h2>テーブル管理</h2>
            <div class="linkbox">
                <h3>イベントマスタ</h3>
                <a href="https://ico-graph.com/eventcreate"></a>
            </div>
            <div class="linkbox">
                <h3>公演マスタ</h3>
                <a href="https://ico-graph.com/venuecreate"></a>
            </div>
            <div class="linkbox">
                <h3>会場マスタ</h3>
                <a href="https://ico-graph.com/hallcreate"></a>
            </div>
        </div>
    </div>
    <div class="alert alert-light form-control">
        <div class="container">
            <div class="linkbox">
                <h2>トップページ</h2>
                <div class="linkbox">
                    <a href="https://ico-graph.com/"></a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    {% endblock %}