{% extends 'base.html'%}
{% load static %}

{% block title %}
ご意見・ご要望フォーム
{% endblock title %}

{% block meta %}
<script src="{% static '/javascript/contact_create.js' %}"></script>
{% endblock meta %}

{% block header %}
<h2 class="title">ご意見・ご要望フォーム</h2>
{% endblock header %}

{% block content %}
<div class="header_inner inner">
    <div class=" eventform text-dark form-control-lg" id="eventform">
        <form action="" method="POST" name="formtag">{% csrf_token %}
            <div class="formcheck alert alert-light shadow ">
                <p class="info_text">＊印は必須です</p>
                <div class="mb-3">
                    <label for="name">お名前：</label>
                    <input id="name" name="nam" type="text" class="col-6 postion">
                </div>
                <div class="mb-3">
                    <label for="contact_text"> 内容*：</label>
                    <textarea class="form-control" name="contact_text" id="contact_text" rows="5"></textarea>
                </div>
            </div>
            <div class="container">
                <input type="submit" value="送信する" class="shadow border border-light" id="submitbt">
            </div>
        </form>
    </div>
</div>
{% endblock content %}