{% extends 'base.html'%}
{% load static %}

{% block title %}
アンケート回答ページ
{% endblock title %}

{% block meta %}
<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@Icographer" />
<meta name="twitter:title" content="{{ title.event.eventtitle }}　回答フォーム" />
<meta name="twitter:description" content="回答はこちらから" />
<meta name="twitter:image" content="{% static 'icolove.jpg' %}" />
<script src="{% static '/javascript/create2.js' %}"></script>
{% endblock meta %}

{% block header %}
<div class="header_inner inner">
    <p class="header_title" name="eventtitle">{{ title.event.eventtitle }}</p>

    {% if title.event.eventtype.eventtypeid == 1 %}
    <p class="header_ank" name="venue">{{ title.hallinfo.hallprefecture }}公演配席アンケート</p>
    {% else %}
    <p class="header_ank" name="venue">配席アンケート</p>
    {% endif %}
    {% if title.venuedateTO %}
    <p class="header_detail">日時：{{ title.venuedateFROM|date:"Y年n月j日" }}～{{ title.venuedateTO|date:"Y年n月j日" }}</p>
    {% else %}
    <p class="header_detail">日時：{{ title.venuedateFROM|date:"Y年n月j日" }}</p>
    {% endif %}
    <p class="header_detail">会場：{{ title.hallinfo.hallname }}</p>
    </p>
    {% endblock header %}
</div>

{% block content %}
<div class=" eventform text-dark form-control-lg" id="eventform">
    <form action="" method="POST" name="formtag">{% csrf_token %}
        <div class="formcheck alert alert-light shadow ">
            <div class="formtitle">
                <h3>参加公演</h3>
            </div>
            <div id="errorform1">
            </div>
            <div class="timeform form-check"></div>

            <!--公演情報送信-->
            {% for performtime in performtimes %}
            <label for="timeform1">
                <input type="hidden" class="venue" value="{{ performtime.perform_time }}">
            </label>
            {% endfor %}

            <!--チケット情報送信-->
            <div id="ticketTypeInput">
                {% for sale in sales.all|dictsort:"priority" %}
                <div class="{{ sale.salestype }}">
                    {% for ticket in sale.tickettype.all|dictsort:"priority" %}
                    <input type="hidden" content="{{ ticket.tickettype }}" value="{{ ticket.dispticketname }}">
                    <div class="{{ ticket.tickettype }}">
                        {% for sheet in ticket.sheettype.all|dictsort:"priority" %}
                        <input type="hidden" class="sheet {{ ticket.tickettype }}" value="{{ sheet.sheet }}">
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>


            <!--座席情報送信-->
            <div id="sheetTypeInput">
                {% for block in blocks.all %}
                <input type="hidden" id="{{ block.blockname }}" class="blocks" value="{{ block.blockname }}">
                <div class="fr{{ block.priority }}">
                    {% for sheet in block.sheets.all|dictsort:"priority" %}
                    <div class="{{ sheet.sheetname }}">
                        <input type="hidden" class="col-3 block position valid" value="{{ sheet.sheettype.valid }}">
                        <input type="hidden" class="col-3 block position prename" value="{{ sheet.prename }}">
                        <input type="hidden" class="col-3 block position postname" value="{{ sheet.postname }}">
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>

            <!--会場詳細情報送信-->
            <input type="hidden" id="titlename" name="title" value="{{ title }}">
            <input type="hidden" id="venueid" name="venueid" value="{{ title.venueid }}">
            <input type="hidden" id="timeformcheck1" name="matinee" value>
            <input type="hidden" id="timeformcheck2" name="evening" value>
            <input type="hidden" id="largeblock_r1" name="block_r1" value>
            <input type="hidden" id="largeblock_r2" name="block_r2" value>
        </div>
        {% for performtime in performtimes %}
        <div id="answerform{{forloop.counter}}" class="box answerform">
            <div class="container">

                <div id="form{{forloop.counter}}" class="">
                    <p class="time">{{ perform_time }}</p>
                    <!--販売区分-->
                    <div class="salesform alert alert-light shadow" id="form{{forloop.counter}}_1">
                        <div class="formtitle">
                            <h3>チケットの購入区分</h3>
                        </div>
                        <div id="errorform{{forloop.counter}}_1" class="errorform"></div>
                        <div id="salesform{{forloop.counter}}">
                            {% for sale in sales %}
                            <div class="form-check my-2">
                                <label>
                                    <input type="radio" class="form-check-input" name="sale1"
                                        value="{{ sale.dispsalesname }}"
                                        id="sale{{forloop.parentloop.counter}}_{{ sale.salestype }}"
                                        content="{{ sale.salestype }}"
                                        onclick="changeTicketSelect(this,{{forloop.counter}})">
                                    {{ sale.dispsalesname }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <!--チケット区分-->
                    <div class="sheetform alert alert-light shadow" id="form{{forloop.counter}}_2">
                        <div id="formtitle{{forloop.counter}}_2"></div>
                        <div id="errorform{{forloop.counter}}_2" class="errorform"></div>
                        <div id="ticketform{{forloop.counter}}"></div>
                    </div>

                    <!--座席区分-->
                    <div class="sheetform alert alert-light shadow" id="form{{forloop.counter}}_3">
                        <div id="formtitle{{forloop.counter}}_3"></div>
                        <div id="errorform{{forloop.counter}}_3" class="errorform"></div>
                        <div id="sheetform{{forloop.counter}}"></div>
                    </div>

                    <!--階層区分-->
                    <div class="floorform alert alert-light shadow" id="form{{forloop.counter}}_4">
                        <div class="formtitle{{forloop.counter}}_4">
                            <h3>座席階数</h3>
                        </div>
                        <div id="errorform{{forloop.counter}}_4" class="errorform"></div>
                        <div id="floorform{{forloop.counter}}">
                            {% for floor in floors %}
                            <div class="form-check my-2">
                                <label>
                                    <input type="radio" class="form-check-input"
                                        id="floor{{forloop.parentloop.counter}}_{{ floor.floorname }}" name="floor1"
                                        value="{{ floor.floorname }}"
                                        onclick="changefloorSelect(this,{{forloop.counter}})""
                                        priority=" {{ floor.priority }}">
                                    {{ floor.floorname }}
                                </label>
                            </div>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="numberform alert alert-light shadow" id="form{{forloop.counter}}_5">
                        <div id="formtitle{{forloop.counter}}_5"></div>
                        <div id="errorform{{forloop.counter}}_5" class="errorform"></div>
                        <div id="numberform{{forloop.counter}}" class="my-2"></div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="container">
            <input type="submit" value="回答" class="shadow border border-light" id="submitbt"
                onclick="return valueCheck()">
        </div>
    </form>
</div>






{% endblock content %}