<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eventlist</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</head>

<body>
    {% load static %}
    <div>
        <table class="table container">
            <thead>
                <tr>
                    <th>イベントID</th>
                    <th>グループ</th>
                    <th>イベントタイプ</th>
                    <th>タイトル</th>

                </tr>
            </thead>
            <tbody>
                {% for post in object_list %}
                <tr>
                    <td>{{ post.eventid }}</td>
                    <td>{{ post.group }}</td>
                    <td>{{ post.eventtype }}</td>
                    <td>{{ post.eventtitle }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
</body>

</html>