<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eventlist</title>
</head>

<body>
    {% load static %}
    {% for post in object_list %}
    <div>
        <table>
            <thead>
                <tr>
                    <th>イベントID</th>
                    <th>グループ</th>
                    <th>イベントタイプ</th>
                    <th>タイトル</th>

                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ post.eventid }}</td>
                    <td>{{ post.group }}</td>
                    <td>{{ post.eventtype }}</td>
                    <td>{{ post.eventtitle }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </div>
    {% endfor %}
</body>

</html>