{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="header_inner inner">
    <p class="header_title" name="eventtitle">{{ title.event.eventtitle }}</p>
    <p class="header_ank" name="venue">配席アンケート結果確認画面</p>
    <p class="header_detail">日時：{{ title.venuedate|date:"Y年n月j日" }}</p>
    <p class="header_detail">会場：{{ title.venue }}</p>
</div>
{% endblock header %}

{% block content %}
<div>
    <div class="alert alert-light">
        <form action="" method="GET">
            <select name="time" id="" value="{{ request.GET.time }}">
                <option value="matinee">昼の部</option>
                <option value="evening">夜の部</option>
            </select>
            <input type="submit" value="公演変更">
        </form>
    </div>

    {% autoescape off %}
    <div class="alert alert-light">
        {{ chart }}
    </div>

    <div class="alert alert-light">

        {{ heatmap }}
    </div>



    <div class="alert alert-light">
        <table class="table">
            <thead>
                <tr>
                    <th>回答日時</th>
                    <th>チケット種別</th>
                    <th>座席種別</th>
                    <th>座席階層</th>
                    <th>ブロック</th>
                    <th>座席列数</th>
                    <th>座席番号</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.timedate|date:"Y-m-j H:i:s" }} </td>
                    <td>{{ result.ticket1 }}</td>
                    <td>{{ result.sheet1 }}</td>
                    <td>{{ result.floor1 }}</td>
                    <td>{{ result.block_r1 }}-{{ result.block_c1 }}</td>
                    <td>{{ result.row1 }}</td>
                    <td>{{ result.number1 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="alert alert-light">
        <table class="table">
            <thead>
                <tr>
                    <th>回答日時</th>
                    <th>チケット種別</th>
                    <th>座席種別</th>
                    <th>座席階層</th>
                    <th>ブロック</th>
                    <th>座席列数</th>
                    <th>座席番号</th>
                </tr>
            </thead>
            <tbody>
                {% for result in results %}
                <tr>
                    <td>{{ result.timedate|date:"Y-m-j H:i:s" }} </td>
                    <td>{{ result.ticket2 }}</td>
                    <td>{{ result.sheet2 }}</td>
                    <td>{{ result.floor2 }}</td>
                    <td>{{ result.block_r2 }}-{{ result.block_c2 }}</td>
                    <td>{{ result.row2 }}</td>
                    <td>{{ result.number2 }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% endautoescape %}
</div>
{% endblock content %}