{% extends 'base.html'%}
{% load static %}

{% block title %}
ログインページ
{% endblock title %}

{% block meta %}

{% endblock meta %}

{% block header %}
<h2 class="title">ログインページ</h2>
{% endblock header %}

{% block content %}
<div class="text-dark container" id="">
    <form action="" method="POST" name="formtag">{% csrf_token %}
        <div class="alert alert-light shadow ">
            {{ form.non_field_errors }}
            {% for field in form %}
            {{ field }}
            {{ field.errors }}
            <hr>
            {% endfor %}
            <button type="submit">ログイン</button>
        </div>
    </form>
</div>

{% endblock content %}