{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="header_inner inner">
    <p class="header_title" name="eventtitle">{{ title.event.eventtitle }}</p>
    <p class="header_ank" name="venue">回答画面</p>
    <p class="header_detail">日時：{{ title.venuedate|date:"Y年n月j日" }}</p>
    <p class="header_detail">会場：{{ title.venue }}</p>
</div>
{% endblock header %}

{% block content %}
<div>
    <h2>回答ありがとうございました！</h2>
    <h2><a href="{% url 'jsapp:index' title.venueid %}"></a></h2>
</div>
{% endblock content %}