{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="header_inner inner">
    <p class="header_title" name="title">イベント登録マスタ</p>
    </p>
</div>
{% endblock %}

{% block content %}


<div>
    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="登録">
    </form>
</div>

<div class="alert alert-light form-control">
    <div class="container">
        <h2>登録済みイベント</h2>
        <table class="table">
            <tr>
                <th>VENUE.ID</th>
                <th>日付</th>
                <th>イベントタイトル</th>
                <th>グループ</th>
            </tr>
            {% for post in venues %}
            <tr>
                <td>{{ post.venueid }} </td>
                <td>{{ post.venuedate|date:"Y年n月j日" }}</td>
                <td>{{ post.event.eventtitle }}</td>
                {% for group in post.event.group.all %}
                <td>{{ group.group }}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}