{% extends 'base.html' %}
{% load static %}

{% block header %}
<div class="header_inner inner">
    <p class="header_title" name="title">イベント登録マスタ</p>
    </p>
</div>
{% endblock %}

{% block content %}


<div>
    <form action="" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="登録">
    </form>
</div>

<div class="alert alert-light form-control">
    <div class="container">
        <h2>登録済みイベント</h2>
        <table class="table">
            <tr>
                <th>イベントID</th>
                <th>グループ</th>
                <th>イベントタイプ</th>
                <th>タイトル</th>
            </tr>
            {% for post in event %}
            <tr>
                <td>{{ post.eventid }} </td>
                <td>{{ post.group }}</td>
                <td>{{ post.eventtype }}</td>
                <td>{{ post.eventtitle }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock %}